.DS_Store
.ipynb_checkpoints
*.swp
.idea

source/vim/.netrwhist
source/vim/bundle/
source/vim/pack/
source/zsh/ohmyzsh/
source/vim/neovim

source/zsh/zshenv_local.sh
source/zsh/zshrc_local.sh

.vscode
cdk.out
__pycache__
.env
